{% extends 'base.html' %}

{% block title %}
SGE - Saídas
{% endblock %}

{% block content %}

{% include 'components/_sales_metrics.html' %}
<div class="mb-4"></div>

<div class="row mb-3">
    <div class="col-md-6">
        <form method="get" action="{% url 'outflows_list' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="product" placeholder="Nome do produto"
                    value="{{ request.GET.product }}">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    {% if perms.outflows.add_outlows %}
    <div class="col-md-6">
        <a href="{% url 'outflows_create' %}" class="btn btn-success float-end">
            <i class="bi bi-plus"></i> Nova Saída
        </a>
    </div>
    {% endif %}
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data de entrada</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for outflow in outflows %}
            <tr>
                <td>{{ outflow.product }}</td>
                <td>{{ outflow.quantily }}</td>
                <td>{{ outflow.created_at }}</td>
                <td>
                    {% if perms.outflows.view_outflow %}
                    <a href="{% url 'outflows_detail' outflow.id %}" class="btn btn-info btn-sm">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'components/_pagination.html' %}

{% endblock %}